<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>

    <style>
        body {
            padding: 20px;
        }

        ul>li {
            padding: 10px;
        }

        ul>li>a {
            text-decoration: none;
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <a href="{% url 'add_todo' %}">Add todos</a>

    <h1>Todo App</h1>
    <ul>
        {% for todo in todos %}
        <li>{{ todo.todo_item }} &nbsp; &nbsp; <a href="{% url 'remove_todo' todo.id %}">delete</a></li>
        {% endfor %}
    </ul>
</body>

</html>